<!--###################-->
<!-- FILTERS-->
<!--###################-->
<div class="blog-line">
  <div class="line-proj center">
    <div class="proj">

      <ul id="filters">
        <li>
          <a class="btn btn-link dropdown-toggle">
            <i class="fa-icon-list-alt"></i> Categories <i class="fa-icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">First category</a></li>
            <li><a href="#">Another category</a></li>
            <li><a href="#">Something else category</a></li>
            <li><a href="#">Another category</a></li>
            <li><a href="#">Another category</a></li>
            <li><a href="#">Another category</a></li>
            <li><a href="#">Another category</a></li>
            <li><a href="#">Another category</a></li>
            <li><a href="#">Another category</a></li>
          </ul>
        </li>
      </ul>
      <div id="filters-blog">
        <a data-filter="*" class="btn btn-link active">Everything</a>
        <a data-filter=".popular" class="btn btn-link">Popular</a>
        <a data-filter=".gifts" class="btn btn-link">Gifts</a>
      </div>
    </div>
  </div>
</div>
<!--###################-->
<!--END: FILTERS-->
<!--###################-->
<!--###################-->
<!-- START PORTFOLIO -->
<!--###################-->
<div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"-->
<!-- START MAIN CONTENT DIV -->
<div class="span12">
<div id="portfolio" class="row">
<!-- portfolio item // THIS ITEM COMMENTED -->
<div class="span3  box pint-blog popular">
  <!-- START WRAPPER IMG THUMBNAIL-->
  <a href="./single-post.html" class="thumbnail">
    <img src="/assets/verso/shot.png" alt=""/><!-- IMG HERE-->
  </a>
  <!-- END WRAPPER IMG THUMBNAIL-->
  <!-- TITLE-->
  <h4 class="single-title">
    <a href="./single-post.html">Blog Post Title</a>
  </h4>
  <!-- END TITLE-->
  <!-- META-->
  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <!-- END META-->
  <!-- PARAGRAPH -->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus
    <!-- NAV LINK + -->
				<span class="plus">
					<a href="#" title="ream more">
            <i class="fa-icon-link fa-icon-large main-color"></i>
          </a>
				</span>
    <!-- END NAV LINK + -->
  </p>
  <!--END PARAGRAPH -->
</div>
<!-- END portfolio item -->

<!--  portfolio item -->
<div class="span3  box pint-blog popular gifts"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/dribbble.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!-- portfolio item -->
<div class="span3  box pint-blog popular"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/weather.jpg" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!-- portfolio item -->
<div class="span3  box pint-blog gifts">
  <a href="./single-post.html" class="thumbnail"><img src="/assets/verso/icons-freebie.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!-- portfolio item -->
<div class="span3  box pint-blog gifts">
  <a href="./single-post.html" class="thumbnail"><img src="/assets/verso/icons-freebie.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!--  portfolio item -->
<div class="span3  box pint-blog popular gifts"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/logo_client.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!-- portfolio item -->
<div class="span3  box pint-blog popular"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/icons-freebie.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!-- portfolio item -->
<div class="span3  box pint-blog gifts">
  <a href="./single-post.html" class="thumbnail"><img src="/assets/verso/icons-freebie.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!--  portfolio item -->
<div class="span3  box pint-blog popular gifts"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/logo_client.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!--  portfolio item -->
<div class="span3  box pint-blog popular"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/icons-freebie.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->

<!-- portfolio item -->
<div class="span3  box pint-blog popular"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/feature1.jpg" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->
<!-- portfolio item -->
<div class="span3  box pint-blog popular gifts"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/logo_client.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->

<!--  portfolio item -->
<div class="span3  box pint-blog popular"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/icons-freebie.png" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>
<!-- END portfolio item -->

<!-- portfolio item -->
<div class="span3  box pint-blog popular"><a href="./single-post.html" class="thumbnail"><img
src="/assets/verso/feature1.jpg" alt=""/></a>
  <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>

  <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
    Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit.
    Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus<span
  class="plus"><a href="#" title="ream more"><i
  class="fa-icon-link fa-icon-large main-color"></i></a></span></p>
</div>

<!-- END portfolio item -->


</div>
</div>
</div>
<!--###################-->
<!-- END PORTFOLIO -->
<!--###################-->

<!-- PAGINATION-->
<div class="pagination center">
  <hr class="half"/>
  <ul>
    <li class="disabled"><a href="#">Previous</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
<!-- END PAGINATION-->

<% content_for :scripts do %>
  <%= javascript_include_tag "verso/jquery.isotope.min" %>

  <script>
    jQuery.noConflict()(function ($) {
      var $container = $('#container-folio');

      if ($container.length) {
        $container.waitForImages(function () {

          // initialize isotope
          $container.isotope({

            itemSelector: '.box',
            resizable: false, // disable normal resizing
            masonry: { columnWidth: $container.width() / 12 }
          });
          // update columnWidth on window resize
          $(window).smartresize(function () {

            $(window).smartresize(function () {
              $container.isotope({
                // update columnWidth to a percentage of container width
                masonry: { columnWidth: $container.width() / 12 }
              });

            });

          });

          // filter items when filter link is clicked
          $('#filters-blog a').click(function () {
            var selector = $(this).attr('data-filter');
            $container.isotope({ filter: selector });
            $(this).removeClass('active').addClass('active').siblings().removeClass('active all');

            return false;
          });

        }, null, true);
      }
    });

  </script>
<% end %>