<div class="row-fluid">
  <!-- SLIDER SIDE -->
  <div class="span8">

    <div class="div-2 group">
      <ul id="images" class="rs-slider">
        <li class="group">
          <a href="#">
            <img src="/assets/verso/wood6.jpg" alt=""/>
          </a>

          <div class="rs-caption rs-bottom">
            <h3>Caption Area</h3>

            <p>Wood texture by <a href="http://downloads.dvq.co.nz/" class="button">Matthew Skiles.</a></p>
          </div>
        </li>
        <li class="group">
          <a href="#" class="slide-parent">
            <img src="/assets/verso/greenbut.jpg" alt=""/>
          </a>

          <div class="rs-caption rs-top-right">
            <p>This image is wrapped in a link.</p>
          </div>
        </li>
        <li class="group">
          <img src="/assets/verso/form.jpg" alt=""/>

          <div class="rs-caption rs-bottom-right">
            <p>Adapted from <a class="button" href="http://dribbble.com/shots/154205-Cool-Green-Signup-form">Glenn Van
              Bogaert</a></p>
          </div>
        </li>
        <li class="group"><img src="/assets/verso/red.jpg" alt=""/>
        </li>
        <li class="group"><img src="/assets/verso/6.jpg" alt=""/></li>
      </ul>
    </div>
    <!-- /.div-2 -->

  </div>
  <!-- END: SLIDER SIDE -->
  <!-- PORTFOLIO ASIDE -->
  <div class="span4">
    <!-- TITLE -->
    <h2 class="folio-title">Awesome project! Portfolio single title! </h2>

    <!-- PARAGRAPH -->
    <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.
    </p>

    <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.
    </p>
    <!-- END PARAGRAPH -->
    <!-- DEVIDER LINE -->
    <div class="no-color-line-no-border3"></div>
    <hr class="half2"/>
    <!-- ACTION BUTTON -->
    <a class="btn btn-info btn-large btn-block btn-action" href="#" title="">Buy now!</a>
    <!-- END ACTION BUTTON -->
  </div>
  <!-- PORTFOLIO ASIDE -->
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "/assets/verso/jquery.refineslide.js" %>
  <%= javascript_include_tag "/assets/verso/custom_refine_slider.js" %>
<% end %>