<%= render 'filter', filters: [{ label: 'Graphics', tag: '.graphics' },
                                        { label: 'Nature', tag: '.nature' },
                                        { label: 'Food', tag: '.food' }]
%>
<!--###################-->
<!-- START PORTFOLIO // THIS ITEM COMMENTED-->
<!--###################-->
<div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"-->

<div class="span12">
<div id="portfolio" class="row">
<!-- portfolio item -->
<div class="span6  project-item graphics box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <div class="project-item-overlay ">
        <div class="inner">
          <ul>
            <li> <a rel="prettyPhoto[gallery]" href="/assets/verso/project7.jpg" class="proj-btn">
              <i class="fa-icon-zoom-in fa-icon-large"></i></a>
            </li>

            <li>	<a class="proj-btn" href="portfolio_single_project _alt.html">
              <i class="fa-icon-link fa-icon-large"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <img src="/assets/verso/project7.jpg" alt="iPhonegraphy" />
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Awesome project title</h3>
        <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern features</p><a href="#" title="read more">read more &rarr;</a>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
<!-- ##################### -->
<!-- END: portfolio item -->
<!-- ##################### -->

<div class="span6  project-item nature box">
  <div class="thumbnail">

    <div class="sample project-item-image-container">
      <div class="project-item-overlay">
        <div class="inner">
          <ul>
            <li><a rel="prettyPhoto[gallery]" href="/assets/verso/project6.jpg" class="proj-btn"><i class="fa-icon-zoom-in fa-icon-large"></i></a></li>
            <li><a class="proj-btn" href="portfolio_single_project _alt.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
          </ul>
        </div>
      </div>
      <img src="/assets/verso/project6.jpg" alt="Beach Heat" />
    </div>
    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Awesome project title</h3>
        <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern features</p><a href="#" title="read more">read more &rarr;</a>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
</div>
<div class="span6  project-item food box">
  <div class="thumbnail">

    <div class="sample project-item-image-container">
      <div class="project-item-overlay">
        <div class="inner">
          <ul>
            <li><a rel="prettyPhoto[gallery]" href="/assets/verso/project8.jpg" class="proj-btn"><i class="fa-icon-zoom-in fa-icon-large"></i></a></li>
            <li><a class="proj-btn" href="portfolio_single_project _alt.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
          </ul>
        </div>
      </div>
      <img src="/assets/verso/project8.jpg" alt="Delicious World" />
    </div>
    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Awesome project title</h3>
        <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern features</p><a href="#" title="read more">read more &rarr;</a>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
</div>
<div class="span6  project-item graphics box"><div class="thumbnail">

  <div class="sample project-item-image-container">
    <div class="project-item-overlay">
      <div class="inner">
        <ul>
          <li><a rel="prettyPhoto[gallery]" href="/assets/verso/project4.png" class="proj-btn"><i class="fa-icon-zoom-in fa-icon-large"></i></a></li>
          <li><a class="proj-btn" href="portfolio_single_project _alt.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
        </ul>
      </div>
    </div>
    <img src="/assets/verso/project4.png" alt="Cables and Balls" />
  </div>
  <!-- CAPTION -->

  <div class="caption">
    <div class="transit-to-top">
      <h3 class="p-title standart-h3title">Awesome project title</h3>
      <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern features</p><a href="#" title="read more">read more &rarr;</a>
    </div>
  </div>
  <!--END CAPTION -->
</div>
</div>
<div class="span6  project-item graphics box"><div class="thumbnail">

  <div class="sample project-item-image-container">
    <div class="project-item-overlay">
      <div class="inner">
        <ul>
          <li><a rel="prettyPhoto[gallery]" href="/assets/verso/project6.jpg" class="proj-btn"><i class="fa-icon-zoom-in fa-icon-large"></i></a></li>
          <li><a class="proj-btn" href="portfolio_single_project _alt.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
        </ul>
      </div>
    </div>
    <img src="/assets/verso/project6.jpg" alt="Fireprojects" />
  </div>
  <!-- CAPTION -->

  <div class="caption">
    <div class="transit-to-top">
      <h3 class="p-title standart-h3title">Awesome project title</h3>
      <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern features</p><a href="#" title="read more">read more &rarr;</a>
    </div>
  </div>
  <!--END CAPTION -->
</div>
</div>
<div class="span6  project-item graphics box">
  <div class="thumbnail">

    <div class="sample project-item-image-container">
      <div class="project-item-overlay">
        <div class="inner">
          <ul>
            <li><a rel="prettyPhoto[gallery]" href="/assets/verso/project5.jpg" class="proj-btn"><i class="fa-icon-zoom-in fa-icon-large"></i></a></li>
            <li><a class="proj-btn" href="portfolio_single_project _alt.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
          </ul>
        </div>
      </div>
      <img src="/assets/verso/project5.jpg" alt="Fireprojects" />
    </div>
    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Awesome project title</h3>
        <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern features</p><a href="#" title="read more">read more &rarr;</a>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
</div><div class="span6  project-item graphics box">
  <div class="thumbnail">

    <div class="sample project-item-image-container">
      <div class="project-item-overlay">
        <div class="inner">
          <ul>
            <li><a rel="prettyPhoto[gallery]" href="/assets/verso/project5.jpg" class="proj-btn"><i class="fa-icon-zoom-in fa-icon-large"></i></a></li>
            <li><a class="proj-btn" href="portfolio_single_project _alt.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
          </ul>
        </div>
      </div>
      <img src="/assets/verso/project5.jpg" alt="Fireprojects" />
    </div>
    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Awesome project title</h3>
        <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern features</p><a href="#" title="read more">read more &rarr;</a>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
</div><div class="span6  project-item graphics box">
  <div class="thumbnail">

    <div class="sample project-item-image-container">
      <div class="project-item-overlay">
        <div class="inner">
          <ul>
            <li><a rel="prettyPhoto[gallery]" href="/assets/verso/project5.jpg" class="proj-btn"><i class="fa-icon-zoom-in fa-icon-large"></i></a></li>
            <li><a class="proj-btn" href="portfolio_single_project _alt.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
          </ul>
        </div>
      </div>
      <img src="/assets/verso/project5.jpg" alt="Fireprojects" />
    </div>
    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Awesome project title</h3>
        <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern features</p><a href="#" title="read more">read more &rarr;</a>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
</div>
</div>
</div>
</div>