<div class="row-fluid">
  <!-- SLIDER SIDE -->
  <div class="span8">
    <div class="vendor">
      <div class="container-video">
        <iframe src="http://player.vimeo.com/video/35108500?color=ffffff" frameborder="0"></iframe>
      </div>
    </div>
    <div class="well">
      <p>
        Description of video. Few words about your project video.
      </p>
    </div>

  </div>
  <!-- END: SLIDER SIDE -->
  <!-- PORTFOLIO ASIDE -->
  <div class="span4">
    <!-- TITLE -->
    <h2 class="folio-title">Project with responsive video </h2>

    <!-- PARAGRAPH -->
    <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.
    </p>

    <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.
    </p>
    <!-- END PARAGRAPH -->
    <!-- DEVIDER LINE -->
    <div class="no-color-line-no-border3"></div>
    <hr class="half2"/>
    <!-- ACTION BUTTON -->
    <a class="btn btn-info btn-large btn-block btn-action" href="#" title="">Lern more!</a>
    <!-- END ACTION BUTTON -->
  </div>
  <!-- PORTFOLIO ASIDE -->
</div>

<% content_for :scripts do %>
  <script>
    // Basic FitVids Test
    $(".container").fitVids();
  </script>
<% end %>