<%= render "/layouts/navigation" %>


<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Personal</a></li>
    <li><a href="#">Cars</a></li>
    <li><a href="#">Payment</a></li>
    <li><a href="#">History</a></li>
  </ul>
</div>