<% content_for :slider do %>
  <!-- SLIDER START-->
  <div class="banner-rotator">
    <div id="da-slider" class="da-slider">
      <div class="da-slide">
        <h2>Responsive template</h2>

        <p>Use icons in the button that shows the meaning of call to action. A small river named Duden flows by their
          place and supplies it with the necessary regelialia.</p>
					<span class="da-link">
						<a href="features.html" class="">
              <span class="main-link"><i class="fa-icon-tablet"></i> Availible on market</span>
              <span class="arrow"> &rarr;</span>
            </a>
					</span>

        <div class="da-img visible-desktop"><img src="/assets/verso/responsive.png" alt="image01"/></div>
      </div>
      <div class="da-slide">
        <h2>Easy customization</h2>

        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
          ocean.</p>
					<span class="da-link">
						<a href="features.html" class="">
              <span class="main-link">View Our project</span>
              <span class="arrow"> <i class="fa-icon-eye-open"></i></span>
            </a>
					</span>

        <div class="da-img visible-desktop"><img src="/assets/verso/showcase-slider_code.png" alt="image01"/></div>
      </div>
      <div class="da-slide">
        <h2>Colors presets</h2>

        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
          paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<span class="da-link">
						<a href="features.html" class="">
              <span class="main-link">Download now!</span>
              <span class="arrow"><i class="fa-icon-download-alt"></i> </span>
            </a>
					</span>

        <div class="da-img visible-desktop"><img src="/assets/verso/showcase-slider.png" alt="image01"/></div>
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </nav>
    </div>
  </div>
  <!-- SLIDER [END]-->
<% end %>

<!--<h2 class="line center"> <span>Best features!</span></h2>-->
<div class="row-fluid">
  <hr class="half">
  <h2 class="center standart-h2title ">
    <span class="large-text"><span class="main-color">VERSO</span> provides modern features</span>
  </h2>
  <hr class="half">
</div>
<!-- START MARKETING DIV-->
<div class="marketing">

<div class="row-fluid">
  <!-- FEATURE ITEM-->
  <div class="span3">
    <i class="fa-icon-fullscreen fa-icon-xxlarge main-color"></i>

    <h3 class="features-title"><span class="firstword">Responsive</span> Layout</h3>

    <p class="features"> We combine creative forces with systematic activists. All ideas require implementation and our
      multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead
      meaningful brands.</p>
  </div>
  <!-- END FEATURE ITEM-->
  <!-- FEATURE ITEM-->
  <div class="span3">
    <i class="fa-icon-tint fa-icon-xxlarge main-color"></i>

    <h3 class="features-title"><span class="firstword">Designer  </span>Friendly</h3>

    <p class="features"> We combine creative forces with systematic activists. All ideas require implementation and our
      multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead
      meaningful brands.</p>
  </div>
  <!-- END FEATURE ITEM-->
  <!-- FEATURE ITEM-->
  <div class="span3">
    <i class="fa-icon-thumbs-up fa-icon-xxlarge main-color"></i>

    <h3 class="features-title"><span class="firstword">Built With</span> Bootstrap 2</h3>

    <p class="features"> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the
      power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and
      maintain the best minds.</p>
  </div>
  <!-- END FEATURE ITEM-->
  <!-- FEATURE ITEM-->
  <div class="span3">
    <i class="fa-icon-spinner fa-icon-spin fa-icon-xxlarge main-color"></i>

    <h3 class="features-title"><span class="firstword">Modern</span> features</h3>

    <p class="features"> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the
      power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and
      maintain the best minds.</p>
  </div>
  <!-- FEATURE ITEM-->
</div>

<hr class="half">
<!-- CALL TO ACTION -->
<div class="row-fluid">
  <div class="span12">
    <div class="well">
      <p class="land left">
        <span class="main-color">VERSO</span> - business template with clear design & modern layouts styles
      </p>

    </div>
  </div>
</div>
<!-- END CALL TO ACTION -->
<hr class="half">

<div class="row">

<!--- ########### ## -->
<!--- PORTFOLIO ROTATOR ## -->
<!--- ########### ## -->
<div class="span6 portfolio_rotator">
<div class="portfolio-controls">
  <h3 class="line2 center standart-h3title"><span>Showcase</span></h3>
</div>

<ul class="thumbnails slides">
<!--START ITEM -->
<li class="span4 slide">
  <div class="project-item">
    <div class="thumbnail">
      <!--IMAGE CONTAINER OVERLAY -->
      <div class="sample project-item-image-container">

        <div class="project-item-overlay">
          <div class="inner">
            <ul>

              <li><a class="proj-btn" href="project-details.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
            </ul>
          </div>
        </div>
        <img src="/assets/verso/project5.jpg" alt=""/>

      </div>
      <!-- END: IMAGE CONTAINER OVERLAY -->
      <!-- CAPTION -->

      <div class="caption">
        <div class="transit-to-top">
          <h4 class="p-title">Awesome project title</h4>

          <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern
            features</p>
        </div>
      </div>
      <!--END CAPTION -->

    </div>
  </div>
</li>
<!--END ITEM -->  <!--START ITEM -->
<li class="span4 slide">
  <div class="project-item">
    <div class="thumbnail">
      <!--IMAGE CONTAINER OVERLAY -->
      <div class="sample project-item-image-container">

        <div class="project-item-overlay">
          <div class="inner">
            <ul>

              <li><a class="proj-btn" href="project-details.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
            </ul>
          </div>
        </div>
        <img src="/assets/verso/project5.jpg" alt=""/>

      </div>
      <!-- END: IMAGE CONTAINER OVERLAY -->
      <!-- CAPTION -->

      <div class="caption">
        <div class="transit-to-top">
          <h4 class="p-title">Awesome project title</h4>

          <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern
            features</p>
        </div>
      </div>
      <!--END CAPTION -->

    </div>
  </div>
</li>
<!--END ITEM -->  <!--START ITEM -->
<li class="span4 slide">
  <div class="project-item">
    <div class="thumbnail">
      <!--IMAGE CONTAINER OVERLAY -->
      <div class="sample project-item-image-container">

        <div class="project-item-overlay">
          <div class="inner">
            <ul>

              <li><a class="proj-btn" href="project-details.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
            </ul>
          </div>
        </div>
        <img src="/assets/verso/project5.jpg" alt=""/>

      </div>
      <!-- END: IMAGE CONTAINER OVERLAY -->
      <!-- CAPTION -->

      <div class="caption">
        <div class="transit-to-top">
          <h4 class="p-title">Awesome project title</h4>

          <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern
            features</p>
        </div>
      </div>
      <!--END CAPTION -->

    </div>
  </div>
</li>
<!--END ITEM -->
<!--START ITEM -->
<li class="span4 slide">
  <div class="project-item">
    <div class="thumbnail">
      <!--IMAGE CONTAINER OVERLAY -->
      <div class="sample project-item-image-container">

        <div class="project-item-overlay">
          <div class="inner">
            <ul>

              <li><a class="proj-btn" href="project-details.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
            </ul>
          </div>
        </div>
        <img src="/assets/verso/project5.jpg" alt=""/>

      </div>
      <!-- END: IMAGE CONTAINER OVERLAY -->
      <!-- CAPTION -->

      <div class="caption">
        <div class="transit-to-top">
          <h4 class="p-title">Awesome project title</h4>

          <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern
            features</p>
        </div>
      </div>
      <!--END CAPTION -->

    </div>
  </div>
</li>
<!--END ITEM -->
<!--START ITEM -->
<li class="span4 slide">
  <div class="project-item">
    <div class="thumbnail">
      <!--IMAGE CONTAINER OVERLAY -->
      <div class="sample project-item-image-container">

        <div class="project-item-overlay">
          <div class="inner">
            <ul>

              <li><a class="proj-btn" href="project-details.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
            </ul>
          </div>
        </div>
        <img src="/assets/verso/project5.jpg" alt=""/>

      </div>
      <!-- END: IMAGE CONTAINER OVERLAY -->
      <!-- CAPTION -->

      <div class="caption">
        <div class="transit-to-top">
          <h4 class="p-title">Awesome project title</h4>

          <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern
            features</p>
        </div>
      </div>
      <!--END CAPTION -->

    </div>
  </div>
</li>
<!--END ITEM -->
<!--START ITEM -->
<li class="span4 slide">
  <div class="project-item">
    <div class="thumbnail">
      <!--IMAGE CONTAINER OVERLAY -->
      <div class="sample project-item-image-container">

        <div class="project-item-overlay">
          <div class="inner">
            <ul>

              <li><a class="proj-btn" href="project-details.html"><i class="fa-icon-link fa-icon-large"></i></a></li>
            </ul>
          </div>
        </div>
        <img src="/assets/verso/project5.jpg" alt=""/>

      </div>
      <!-- END: IMAGE CONTAINER OVERLAY -->
      <!-- CAPTION -->

      <div class="caption">
        <div class="transit-to-top">
          <h4 class="p-title">Awesome project title</h4>

          <p class="caption-descr">This project presents beautiful style graphic &amp; design. VERSO provides modern
            features</p>
        </div>
      </div>
      <!--END CAPTION -->

    </div>
  </div>
</li>
<!--END ITEM -->
</ul>
</div>
<!--- ########### ## -->
<!--- END: PORTFOLIO ROTATOR ## -->
<!--- ########### ## -->


<!--- ########### ## -->
<!--- IN THE NEWS ## -->
<!--- ########### ## -->
<div class="span6">

  <div class="border-left-color">
    <h3 class="standart-h3title"><span>In the news</span></h3>
    <table class="table table-hover">
      <tbody>
      <tr>
        <td>
          <div class="nowrap small-text">January 3, 2013</div>
        </td>

        <td>
          <i class="fa-icon-comments-alt">&nbsp;</i>
        </td>
        <td>
          <a href="#"> <strong> Founder and CEO, John Doe, to Strategic Advisory Board</strong> </a>

          <div class="italic">VERSOMagazine</div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="nowrap small-text">January 2, 2013</div>
        </td>
        <td>
          <i class="fa-icon-comments-alt">&nbsp;</i>
        </td>
        <td>
          <a href="#">
            <strong>VERSO Raises jQuery1M to Accelerate the Rapid Growth of its Design Solutions</strong>
          </a>

          <div class="italic">VERSOMagazine
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="nowrap small-text">December 10, 2012</div>
        </td>
        <td><i class="fa-icon-calendar">&nbsp;</i></td>
        <td>
          <a href="#" target="_blank"> <strong>VERSO CEO John Doe to join leaders</strong> </a>

          <div class="italic">VERSOMagazine</div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="nowrap small-text">October 1, 2012</div>
        </td>
        <td>
          <i class="fa-icon-calendar">&nbsp;</i>
        </td>
        <td>
          <a href="#">
            <strong>VERSO Executive Officer Graham Doe participates in the White Horse Business Council's Open Data
              meeting</strong>
          </a>

          <div class="italic ">VERSOMagazine</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<!--- ########### ## -->
<!--- END: IN THE NEWS ## -->
<!--- ########### ## -->

</div>
</div>

<!--- CLIENTS ROTATOR ## -->

<div class="row-fluid">
  <!--****************-->
  <!-- CLIENTS ROTATOR -->
  <!--****************-->
  <div class="span12 clients_rotator_widget_wrap">
    <div class="color-bottom-line flex-controls-cl">
      <h3 class="line2 center standart-h3title"><span>Our clients</span></h3>
    </div>

    <ul class="slides">
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>
      <li class="slide">
        <img src="/assets/verso/logo_client.png" alt=""/>

        <div class="overl"></div>
      </li>


    </ul>

  </div>
  <!--****************-->
  <!-- END CLIENTS ROTATOR -->
  <!--****************-->

</div>
<!---END: CLIENTS ROTATOR ## -->