<div class="row-fluid">
<div class="span6">
  <div class="accordion" id="accordionChat">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-primary"
           data-toggle="collapse" data-parent="#accordion2" href="#collapseChat">
          <i class="icon-comments"></i> Chat <i class="icon-minus pull-right"></i>
        </a>
      </div>
      <div id="collapseChat" class="accordion-body collapse in">
        <div class="accordion-inner" style="background-color: #ffffff;">
          <form action="#" class="form-horizontal">
            <fieldset>
              <ul class="nav nav-tabs nav-stacked">
                <li>
                  <a href="#">
                    <div class="row-fluid">
                      <div class="span2">
                        <img src="/assets/resource/img/defaultPhoto.png" alt="" class="span12 thumbnail popov"
                             rel="popover"
                             data-content="And here's some amazing content. It's very engaging. right?"
                             data-original-title="A Title">

                      </div>
                      <div class="span9">

                        <div class="well" style="border-radius: 60px 0 60px 0 ">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                          ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </div>


                      </div>

                    </div>

                  </a>
                </li>
                <li>&nbsp;</li>
                <li>
                  <a href="#">
                    <div class="row-fluid">

                      <div class="span9">

                        <div class="well" style="border-radius: 60px 0 60px 0 ">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                          ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </div>


                      </div>
                      <div class="span2">
                        <img src="/assets/resource/img/defaultPhoto.png" alt="" class="span12 thumbnail popov"
                             rel="popover"
                             data-content="And here's some amazing content. It's very engaging. right?"
                             data-original-title="A Title">

                      </div>

                    </div>

                  </a>
                </li>
                <li>&nbsp;</li>
                <li>
                  <a href="#">
                    <div class="row-fluid">
                      <div class="span2">
                        <img src="/assets/resource/img/defaultPhoto.png" alt="" class="span12 thumbnail popov"
                             rel="popover"
                             data-content="And here's some amazing content. It's very engaging. right?"
                             data-original-title="A Title">

                      </div>
                      <div class="span9">

                        <div class="well" style="border-radius: 60px 0 60px 0 ">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                          ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </div>


                      </div>

                    </div>

                  </a>
                </li>
              </ul>
              <div class="row-fluid">
                <div class="span10">
                  <input type="text" class="span12" placeholder="Comments Here...">
                </div>
                <div class="span2">
                  <button class="btn"><i class="icon-ok"></i> Send</button>
                </div>
              </div>


            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="span6">
  <div class="accordion" id="accordionEvent">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-primary"
           data-toggle="collapse" data-parent="#accordion2" href="#collapseEvent">
          <i class="icon-comments"></i> Chat <i class="icon-minus pull-right"></i>
        </a>
      </div>
      <div id="collapseEvent" class="accordion-body collapse in">
        <div class="accordion-inner" style="background-color: #ffffff;">
          <form action="#">
            <fieldset>
              <ul class="nav nav-tabs nav-stacked">
                <li>
                  <a href="#">
                    <div class="row-fluid">
                      <div class="span1">
                        <img src="/assets/resource/img/defaultPhoto.png" alt="" class="thumbnail span12">
                      </div>
                      <div class="span11">

                        <p class="well" style="padding: 6px"><strong>Ronal : </strong>
                          <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>&nbsp;</li>
                <li>
                  <a href="#">
                    <div class="row-fluid">
                      <div class="span1">
                        <img src="/assets/resource/img/defaultPhoto.png" alt="" class="thumbnail span12">
                      </div>
                      <div class="span11">

                        <p class="well" style="padding: 6px"><strong>Me : </strong>
                          <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>&nbsp;</li>
                <li>
                  <a href="#">
                    <div class="row-fluid">
                      <div class="span1">
                        <img src="/assets/resource/img/defaultPhoto.png" alt="" class="thumbnail span12">
                      </div>
                      <div class="span11">

                        <p class="well" style="padding: 6px"><strong>Ronal : </strong>
                          <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>&nbsp;</li>
                <li>
                  <a href="#">
                    <div class="row-fluid">
                      <div class="span1">
                        <img src="/assets/resource/img/defaultPhoto.png" alt="" class="thumbnail span12">
                      </div>
                      <div class="span11">

                        <p class="well" style="padding: 6px"><strong>Me : </strong>
                          <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                      </div>
                    </div>
                  </a>
                </li>

              </ul>
              <div class="row-fluid">
                <div class="span10">
                  <input type="text" class="span12" placeholder="Comments Here...">
                </div>
                <div class="span2">
                  <button class="btn"><i class="icon-ok"></i> Send</button>
                </div>
              </div>

            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
