<div class="row-fluid">
  <div class="span6">
    <div class="accordion" id="accordionNotif">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-primary"
             data-toggle="collapse" data-parent="#accordion2" href="#collapseNotif">
            <i class="icon-list-alt"></i> Progress Bar <i class="icon-minus pull-right"></i>
          </a>
        </div>
        <div id="collapseNotif" class="accordion-body collapse in">
          <div class="accordion-inner" style="background-color: #ffffff;">
            <table class="table table-bordered table-striped">
              <tbody>
              <tr>
                <td style="width: 30%">Basic</td>
                <td>
                  <div class="progress">
                    <div class="bar"
                         style="width: 60%;"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%">Striped</td>
                <td>
                  <div class="progress progress-striped">
                    <div class="bar"
                         style="width: 20%;"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%">Animated</td>
                <td>
                  <div class="progress progress-striped active">
                    <div class="bar"
                         style="width: 40%;"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%">Additional colors</td>
                <td>
                  <div class="progress progress-info" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 20%"></div>
                  </div>
                  <div class="progress progress-success" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 40%"></div>
                  </div>
                  <div class="progress progress-warning" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 60%"></div>
                  </div>
                  <div class="progress progress-danger" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 80%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%">Striped bars</td>
                <td>
                  <div class="progress progress-info progress-striped" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 20%"></div>
                  </div>
                  <div class="progress progress-success progress-striped" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 40%"></div>
                  </div>
                  <div class="progress progress-warning progress-striped" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 60%"></div>
                  </div>
                  <div class="progress progress-danger progress-striped" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 80%"></div>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="span6">
    <div class="accordion" id="accordionNotif2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-primary"
             data-toggle="collapse" data-parent="#accordion2" href="#collapseNotif2">
            <i class="icon-list-alt"></i> Alerts <i class="icon-minus pull-right"></i>
          </a>
        </div>
        <div id="collapseNotif2" class="accordion-body collapse in">
          <div class="accordion-inner" style="background-color: #ffffff;">
            <table class="table table-bordered table-striped">
              <tbody>
              <tr>
                <td>Warning</td>
                <td>
                  <div class="alert alert-block">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Warning!</h4>

                    <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue.
                      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Error</td>
                <td>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oh snap!</strong> Change a few things up and try submitting again.
                  </div>
                </td>
              </tr>
              <tr>
                <td>Success</td>
                <td>
                  <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Well done!</strong> You successfully read this important alert message.
                  </div>
                </td>
              </tr>
              <tr>
                <td>Informations</td>
                <td>
                  <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
