<%= content_for :stylesheets, stylesheet_link_tag('resource/calendar/css/fullcalendar.print.css', media: 'print') %>

<div class="well" style="background-color: #ffffff;">
  <div id="calendar">

  </div>
</div>
