<% content_for :page_header do %>
                    <h1>About Us</h1>
                    <!-- BREADCRUMB -->
                    <ul class="breadcrumb">
                      <li><a href="/abouts/home.html">Home</a> <span class="divider">&rarr;</span></li>
                      <li class="active">About Us</li>
                    </ul>
                    <!--END: BREADCRUMB -->
<% end %>


<div class="row-fluid">
  <!-- ASIDE -->
  <div class="span4">
    <div class="well">
      <h2 class="standart-h2title line2">About us</h2>

      <p class="">
        OzPark is an Israeli Australian joint venture led by financial software veterans. OzPark strives to
        provide mobile payment solutions to various industry segments. OzPark flagship solution is mobile
        parking payment solution for on and off street parking spots. OzPark solution goals are simplicity,
        pay per use and security.
      </p>

    </div>
  </div>
  <!--END:  ASIDE -->
  <!-- START ACCORDION FAQ -->
  <div class="span8">

    <div class="wrapper">
      <div id="st-accordion" class="st-accordion">
        <ul>
          <li>
            <a href="#">Simple<span class="st-arrow">Open or Close</span></a>

            <div class="st-content">
              <p>With OzPark all you need is one button click to start payment. The application will automatically identify your location.
                In case GPS is not activated, you can manually set your location</p>
            </div>
          </li>
          <li>
            <a href="#">Pay per use<span class="st-arrow">Open or Close</span></a>

            <div class="st-content">
              <p>With OzPark you pay only per actual parking time. Payment start when you click the start button and end when you click the end button.</p>
            </div>
          </li>
          <li>
            <a href="#">Avoid Tickets<span class="st-arrow">Open or Close</span></a>

            <div class="st-content">
              <p>With OzPark, payment is not bounded and does not stopped until you explicitly stop it.</p>
            </div>
          </li>
          <li>
            <a href="#">Secure<span class="st-arrow">Open or Close</span></a>

            <div class="st-content">
              <p>With OzPark, your credit card details are stored securely inaccessible to other users.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: ACCORDION FAQ -->


</div>

<% content_for :scripts do %>
<script type="text/javascript">
  jQuery(function () {

    jQuery('#st-accordion').accordion();


  });
</script>
<% end %>