<% content_for :slider do %>
  <div class="container">
    <div class="row-fluid">

      <h1 class="error-title">Oops, 404!</h1>

      <p class="lead">
        The page you were looking for could not be found.
      </p>


      <form class="form-search marginpage">
        <input type="text" class="input">
        <button type="submit" class="btn btn-action">Search</button>
      </form>


    </div>
  </div>
<% end %>

<% content_for :footer_classes, 'nomargintop' %>