<%= render 'filter', filters: [{ label: 'Administration', tag: '.administration' },
                               { label: 'Support', tag: '.support' },
                               { label: 'Design', tag: '.design' }],
                     show_all_label: 'All Departments'
%>
<!-- START PORTFOLIO // THIS ITEM COMMENTED-->
<!--###################-->
<div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"-->


  <div id="portfolio" class="row">

    <!-- team  item--> <!-- AD SAME INFO FROM data-filter="" to class of item-->
    <!-- team  item -->
    <div class="span3  project-item administration box">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="/assets/verso/team_3.jpg" alt="iPhonegraphy"/>
        </div>
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">John Doe
              <small>CEO, VERSO</small>
            </h3>
            <p class="caption-descr">

            <div class="widget_nav_menu">
              <ul class="socialIcons">
                <li class="facebook"><a href="#">facebook </a></li>
                <li class="linkedin"><a href="#">linkedin </a></li>
                <li class="twitter"><a href="#">twitter</a></li>
                <li class="googleplus"><a href="#">googleplus</a></li>
              </ul>
              <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
            </p>
          </div>
        </div>
        <!--END CAPTION -->
      </div>
      <!-- END: THUMBNAIL -->
    </div>
  </div>
  <!-- ##################### -->
  <!-- END: team  item-->
  <!-- ##################### -->

  <!-- team  item -->
  <div class="span3  project-item administration box">
    <div class="thumbnail">

      <!-- IMAGE CONTAINER-->
      <div class="sample project-item-image-container">
        <img src="/assets/verso/team_2.jpg" alt="iPhonegraphy"/>
      </div>
      <!--END IMAGE CONTAINER-->

      <!-- CAPTION -->

      <div class="caption">
        <div class="transit-to-top">
          <h3 class="p-title standart-h3title">Joahna Doe
            <small>CEO, VERSO</small>
          </h3>
          <p class="caption-descr">

          <div class="widget_nav_menu">
            <ul class="socialIcons">
              <li class="facebook"><a href="#">facebook </a></li>
              <li class="linkedin"><a href="#">linkedin </a></li>
              <li class="twitter"><a href="#">twitter</a></li>
              <li class="googleplus"><a href="#">googleplus</a></li>
            </ul>
            <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
          </p>
        </div>
      </div>
      <!--END CAPTION -->
    </div>
    <!-- END: THUMBNAIL -->
  </div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item administration box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_3.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">John Doe
          <small>CEO, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item administration box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_4.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Joahna Doe
          <small>CEO, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->


<!-- ##################### -->
<!-- END: FIRST LINE -->
<!-- ##################### -->


<!-- ##################### -->
<!-- START SECOND LINE ################################-->
<!-- ##################### -->


<!-- team  item -->
<div class="span3  project-item design box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_4.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Joahna Doe
          <small>designer, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item design box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_3.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">John Doe
          <small>designer, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item design box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_1.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Joahna Doe
          <small>designer, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item design box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_2.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">John Doe
          <small>designer, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->


<!-- ##################### -->
<!-- END: CECOND LINE ************************-->
<!-- ##################### -->


<!-- ##################### -->
<!-- ################################ START FIRD  LINE #################################-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item support box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_1.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">John Doe
          <small>support, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item support box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_2.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Joahna Doe
          <small>support, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item support box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_4.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">Joahna Doe
          <small>support, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->

<!-- team  item -->
<div class="span3  project-item support box">
  <div class="thumbnail">

    <!-- IMAGE CONTAINER-->
    <div class="sample project-item-image-container">
      <img src="/assets/verso/team_3.jpg" alt="iPhonegraphy"/>
    </div>
    <!--END IMAGE CONTAINER-->

    <!-- CAPTION -->

    <div class="caption">
      <div class="transit-to-top">
        <h3 class="p-title standart-h3title">John Doe
          <small>support, VERSO</small>
        </h3>
        <p class="caption-descr">

        <div class="widget_nav_menu">
          <ul class="socialIcons">
            <li class="facebook"><a href="#">facebook </a></li>
            <li class="linkedin"><a href="#">linkedin </a></li>
            <li class="twitter"><a href="#">twitter</a></li>
            <li class="googleplus"><a href="#">googleplus</a></li>
          </ul>
          <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>
        </p>
      </div>
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
</div>
<!-- ##################### -->
<!-- END: team  item-->
<!-- ##################### -->


<!-- ##################### -->
<!-- END: FIRD LINE ********************-->
<!-- ##################### -->


</div><!-- END ROW-->

</div><!-- END CONTENT CONTAINER -->


</div>