<% content_for :page_header do %>
    <h1>Driver Application</h1>
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="/abouts/home.html">Home</a> <span class="divider">&rarr;</span></li>
      <li class="active">Driver Application</li>
    </ul>
    <!--END: BREADCRUMB -->
<% end %>

<!--TITLE-->
<div class="row-fluid">

  <h2 class="center standart-h2title">
    <span class="large-text">OzPark <span class="main-color">Driver Application</span></span>
  </h2>

  <hr class="half"/>

</div>
<!--END: TITLE-->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">
  <!-- FEATURE -->
  <div class="span6">

    <h3 class="standart-h2title pull-right">Pay on the go</h3>
    <hr class="half"/>
    <p class="lead">
      With OzPark you pay any where via your mobile device. Payments can be managed,
      stopped or extended at any time. all you have to do is one button click to start or stop a payment.
      In case location services are not available you can manually select your location.
    </p>

  </div>
  <!--END:  FEATURE -->
  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/responsive.jpg" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->
  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->


<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">

  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/bootstrap-layout.jpg" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->

  <!-- FEATURE -->
  <div class="span6">

    <h2 class="standart-h2title pull-left">Pay per use</h2>
    <hr class="half"/>
    <p class="lead">
      OzPark driver mobile application stores your user information and automatically identifies your location.
      You will be charged only for the time you have parked.
    </p>

  </div>
  <!--END:  FEATURE -->

  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">


  <!-- FEATURE -->
  <div class="span6">

    <h3 class="standart-h2title pull-right">Manage your account</h3>
    <hr class="half"/>
    <p class="lead pull-right">
      You can manage you personal information including credit card and cars details from the mobile application.
      all details are securely stored.
    </p>

  </div>
  <!--END:  FEATURE -->
  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/bootstrap-premium-code2.jpg" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->
  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">

  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/bootstrap-template.jpg" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->

  <!-- FEATURE -->
  <div class="span6">

    <h2 class="standart-h2title pull-left">View your billing history</h2>
    <hr class="half"/>
    <p class="lead">
      Your billing history is available online.
    </p>

  </div>
  <!--END:  FEATURE -->

  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<div class="row-fluid">
  <div class="span12">

    <h3 class="center standart-h2title "><span class="large-text">Application is available for </span> <span
    class="main-color large-text">FREE</span>
    </h3>


    <div class="span12 center">
      <hr class="half"/>
      <a href="#" title="" class="btn-action">Download</a>
    </div>
  </div>
</div>