<% content_for :page_header do %>
    <h1>Driver Dashboard</h1>
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="/abouts/home.html">Home</a> <span class="divider">&rarr;</span></li>
      <li class="active">Driver Dashboard</li>
    </ul>
    <!--END: BREADCRUMB -->
<% end %>

<!--TITLE-->
<div class="row-fluid">


  <h2 class="center standart-h2title">
    <span class="large-text">Your account <span class="main-color">online!</span></span>
  </h2>

  <hr class="half"/>
</div>

<!--END: TITLE-->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">


  <!-- FEATURE -->
  <div class="span6">

    <h3 class="standart-h2title pull-right">Manage your account</h3>
    <hr class="half"/>
    <p class="lead">
      Manage your account information online. Account information includes personal information, credit cards details and the list of cars used.
    </p>

  </div>
  <!--END:  FEATURE -->
  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/user_personal_info.png" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->
  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->


<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">

  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/user_cars.png" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->

  <!-- FEATURE -->
  <div class="span6">

    <h2 class="standart-h2title pull-left">Manage cars list</h2>
    <hr class="half"/>
    <p class="lead">
      View and edit your list of actively used cars and available for payment. Pay for all you family cars
      with one account. Then view consolidated billing reports.
    </p>

  </div>
  <!--END:  FEATURE -->

  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">


  <!-- FEATURE -->
  <div class="span6">

    <h3 class="standart-h2title pull-right">Billing reports</h3>
    <hr class="half"/>
    <p class="lead pull-right">
      View your billing history online. Gone are the days you need to wait for your billing reports by mail.
      You can review and submit revocation requests online in case you have identified a false charge.
    </p>

  </div>
  <!--END:  FEATURE -->
  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/bootstrap-premium-code2.jpg" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->
  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">

  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/bootstrap-template.jpg" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->

  <!-- FEATURE -->
  <div class="span6">

    <h2 class="standart-h2title pull-left">Billing statistics</h2>
    <hr class="half"/>
    <p class="lead">
      View our billing history statistics and identify unusual transaction. OzPark give you all the tool
      to pay only for what you have used. And submit revocation request if found false charges.
    </p>

  </div>
  <!--END:  FEATURE -->

  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<div class="row-fluid">
  <div class="span12">

    <h3 class="center standart-h2title "><span class="large-text">Sign in </span> <span
    class="main-color large-text">required</span>
    </h3>


    <div class="span12 center">
      <hr class="half"/>
      <a href="/users/sign_in" title="" class="btn-action">Sign In</a>
    </div>
  </div>
</div>