<% content_for :page_header do %>
    <h1>Owner Dashboard</h1>
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="/abouts/home.html">Home</a> <span class="divider">&rarr;</span></li>
      <li class="active">Owner Dashboard</li>
    </ul>
    <!--END: BREADCRUMB -->
<% end %>

<!--TITLE-->
<div class="row-fluid">


  <h2 class="center standart-h2title">
    <span class="large-text">View your account <span class="main-color">Online</span></span>
  </h2>

  <hr class="half"/>
</div>

<!--END: TITLE-->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">


  <!-- FEATURE -->
  <div class="span6">

    <h3 class="standart-h2title pull-right">Manage  your assets</h3>
    <hr class="half"/>
    <p class="lead">
      View and edit your assets online. Define location and rates areas. Dynamically change rates.
      Maximize you pay in by defining rates by location and time.
    </p>

  </div>
  <!--END:  FEATURE -->
  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/owner_areas.png" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->
  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->


<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">

  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/owner_payments.png" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->

  <!-- FEATURE -->
  <div class="span6">

    <h2 class="standart-h2title pull-left">View billing history</h2>
    <hr class="half"/>
    <p class="lead">
      View your payments history online. Payments history is available with detailed location, time and rates information.
      You can also get totals per location, time.
    </p>

  </div>
  <!--END:  FEATURE -->

  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">


  <!-- FEATURE -->
  <div class="span6">

    <h3 class="standart-h2title pull-right">Billing cancellation</h3>
    <hr class="half"/>
    <p class="lead pull-right">
      View billing revocation requests and accept of decline online. Drivers account will be updated automatically.
    </p>

  </div>
  <!--END:  FEATURE -->
  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/owner_payments.png" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->
  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<!--<div class="row-fluid">

  &lt;!&ndash;IMAGE &ndash;&gt;
  <div class="span6 center">
    <img src="/assets/verso/owner_payments.png" class="" alt="feature bootstrap"/>
  </div>
  &lt;!&ndash; END IMAGE &ndash;&gt;

  &lt;!&ndash; FEATURE &ndash;&gt;
  <div class="span6">

    <h2 class="standart-h2title pull-left">Billing statistics</h2>
    <hr class="half"/>
    <p class="lead">
      Maximize your pay in by viewing billing statistics and adapting rates according to supply and demand data.
    </p>

  </div>
  &lt;!&ndash;END:  FEATURE &ndash;&gt;

  <div class="span12">
    <hr class="half"/>
  </div>
</div>-->
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<div class="row-fluid">
  <div class="span12">

    <h3 class="center standart-h2title "><span class="large-text">Contact us for </span> <span
    class="main-color large-text">Owner account</span>
    </h3>


    <div class="span12 center">
      <hr class="half"/>
      <a href="/abouts/contact_us.html" title="" class="btn-action">Contact Us</a>
    </div>
  </div>
</div>