<% content_for :page_header do %>
    <h1>Owner Application</h1>
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="/abouts/home.html">Home</a> <span class="divider">&rarr;</span></li>
      <li class="active">Owner Application</li>
    </ul>
    <!--END: BREADCRUMB -->
<% end %>

<!--TITLE-->
<div class="row-fluid">


  <h2 class="center standart-h2title">
    <span class="large-text">Find who is <span class="main-color">paying</span></span>
  </h2>

  <hr class="half"/>
</div>

<!--END: TITLE-->

<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">


  <!-- FEATURE -->
  <div class="span6">

    <h3 class="standart-h2title pull-right">Sign in as owner</h3>
    <hr class="half"/>
    <p class="lead">
      Sign in to your owner account. Your owner account is associated with all your payments.
    </p>

  </div>
  <!--END:  FEATURE -->
  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/app_landingpage.png" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->
  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->


<!-- ################ -->
<!-- CONTAINER  FEATURE -->
<!-- ################ -->
<div class="row-fluid">

  <!--IMAGE -->
  <div class="span6 center">
    <img src="/assets/verso/app_car_check.png" class="" alt="feature bootstrap"/>
  </div>
  <!-- END IMAGE -->

  <!-- FEATURE -->
  <div class="span6">

    <h2 class="standart-h2title pull-left">Check if a parked car is being paid</h2>
    <hr class="half"/>
    <p class="lead">
      Enter the car details or capture the license plate via your mobile device camera and
      immediately find out if the parked car is being paid for.
    </p>

  </div>
  <!--END:  FEATURE -->

  <div class="span12">
    <hr class="half"/>
  </div>
</div>
<!-- ################ -->
<!-- END: CONTAINER  FEATURE -->
<!-- ################ -->

<div class="row-fluid">
  <div class="span12">

    <h3 class="center standart-h2title "><span class="large-text">Contact us for </span> <span
    class="main-color large-text">Owner account</span>
    </h3>


    <div class="span12 center">
      <hr class="half"/>
      <a href="/abouts/contact_us.html" title="" class="btn-action">Contact Us</a>
    </div>
  </div>
</div>